.div-margin-top-10 {
    margin-top: 10px;
}
.glyphicon-plus, .glyphicon-remove {
  margin-top: 8px;
  margin-left: -7px;
}
.glyphicon-plus {
  color: #337ab7;
}
.glyphicon-plus:hover {
  color: #0b8eff;
  font-weight: bold;
}
.glyphicon-remove {
  color: #d9534f;
}
.glyphicon-remove:hover {
  color: #f40f08;
  font-weight: bold;
}
.form-group {
  margin-top: -10px;
}
.enable-option {
  margin-left: 156px;
}
.col-sm-offset-4 > button {
  margin-left: -18px;
}
.navbar-brand > img {
  margin-top: -15px;
  margin-left: -10px;
}
.glyphicon.form-control-feedback {
  margin-top: 0px;
  margin-right: 10px;
}
.server-alias-txt {
  margin-top: -32px;
}
