.div-margin-top-10 {
    margin-top: 10px;
}
.glyphicon-plus, .glyphicon-minus {
  margin-top: 8px;
  margin-left: -7px;
}
.vhost-access {
  margin-left: -55px;
}
.glyphicon-plus {
  color: #337ab7;
}
.glyphicon-plus:hover {
  color: #0b8eff;
  font-weight: bold;
}
.glyphicon-minus {
  color: #d9534f;
}
.glyphicon-minus:hover {
  color: #f40f08;
  font-weight: bold;
}
#vhostEditForm * .new-sa-minus {
  margin-left: 55px;
}
.form-group {
  margin-top: -10px;
}
.enable-option {
  margin-left: 156px;
}
.enable-htusers-option {
  margin-left: 179px;
}
.col-sm-offset-4 > button {
  margin-left: -18px;
}
.navbar-brand > img {
  margin-top: -15px;
  margin-left: -10px;
}
.glyphicon.form-control-feedback {
  margin-top: 0px;
  margin-right: 10px;
}
.server-alias-txt {
  margin-top: -32px;
}
.button-cell {
  text-align: right;
}
#sa-group, #sa-group-new {
  margin-left: 25px;
}
.options-edit {
  margin-left: 19px;
}
#vhost-modal > .modal-dialog {
  width: 40%;
}
#edit-wwwuser {
  margin-left: 34px;
}
#htaccess-row {
  margin-left: 6px;
}
.checkbox-placement {
  margin-left: 24px;
}
#htaccess-field {
  margin-left: 16px;
}
#editvhost-btn {
  margin-left: -17px;
}
#HDDFree  {
  margin-top: 20px;
}
#sa-new {
  width: 247px;
  margin-left: 39px;
}
#allowfrom, #edit_allowfrom {
  margin-left: -80px;
}
.access-from-label {
  margin-left: -110px;
}
.edit_access-from-label {
  margin-left: -100px;
}
.access-from-input {
  margin-left: -50px;
}
.default-vhost-access {
  margin-left: 62px;
}
#accesslist {
  margin-top: 10px;
}
#accessListsExpand, #edit_accessListsExpand {
  margin-right: -5px;
}
#edit_accessbox {
  margin-left: 33px;
}
.breadcrumb {
  margin-left: -30px;
  background-color: white;
}
#vhost-table {
  margin-top: 30px;
}
.new-item {
  margin-top: 15px;
  margin-left: -139px;
}
.add-vhost-checkbox {
  margin-left: -8px;
}
#new-vhost-buttons {
  margin-left: 18.6%;
}
.add-htusers-group {
  margin-left: -10px;
}
.add-htusers-group > ul {
  margin-left: 4px;
}
.select-htusers-group {
  margin-left: 11px;
}
.select-htusers-group > ul {
  margin-left: 37px;
}
.btn-group {
  margin-left: 12px;
}
#purgedata-field {
  margin-left: -258px;
}
#div-vhost-del-alert {
  margin-left: 38px;
  margin-right: 40px;
}
#alertBox {
  margin-left: -135px;
}
.bootstrap-switch {
  margin-top: 2px;
}
.srvstate {
  height: 16px;
}
